.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.article h2 {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 1.2rem;
}

.article p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.article li {
  font-size: 0.9rem;
  margin-bottom: 0.4rem;
}

.article ol {
  list-style: decimal;
  padding-left: 1rem;
}

.article a {
  text-decoration: underline;
}

.article ul {
  padding-left: 1rem;
}

.article ul li {
  list-style: disc;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
